#container{
    /* background: transparent; */
    width: 1000px;
    height: 800px;
    margin-left: auto;
    margin-right: auto;
    perspective: 6000px;
}
.iphoneX{
    width: 400px;
    height: 760px;
    margin-left: auto;
    margin-right: auto;
    transform: rotateX(0deg) rotateZ(0deg);
    transform-style: preserve-3d;
 }
.slide{
    width: 395px;
    height: 780px;
    background: lightgray;
    border-radius: 50px;
    box-shadow: #3d3e42 0 0 15px 9px;
}
.front-frame{
    width: 362px;
    height: 740px;
    margin-left: 20px;
    border-radius: 60px;
    top: 20px;
    position: relative;
    background-image: -webkit-linear-gradient(-27deg,#444,#000 10%, #000 42%,#333, #000 75%, #000 91%, #444);
    box-shadow: inset #000 0 0 0 4px, #555 0px 0 3px 0px, #222 -3px 2px, #000 -5px 5px, #ede0e0 -7px 6px 1px, #6d6d6d -7px 6px 9px;
}
/* .front-cover{
    width: 344px;
    height: 734px;
    margin-top: 8px;
    margin-left: 9px;
    border-radius: 39px;
    background-color: black;
    position: absolute;
} */
/* .screen{
    width: 336px;
    height: 589px;
    position: absolute;
    margin-top: 80px;
    margin-left: 5px;
    background: rgb(2, 0, 36); */
    /* background: linear-gradient(#a1e5e5, #1987aa); */
    /* background: url(/bg1.jpg); */
    /* background-size: cover; */

/* }
.time{
    font-size: 86px;
    margin-top: 37px;
    text-align: center;
    color: white;
}
.date{
    color: white;
    font-size: 25px;
    text-align: center;
}  */