*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #000000;
}
.iphone-wrap{ 
    width: 400px;
    height: 600px;
    margin: auto;
    margin-top:20px;
    border: 1px solid red;
}
.iphone{
    width: 350px;
    height: 580px;
    margin: auto;
    margin-top:10px;
    border: 1px solid yellow;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.left, .right{
    width: 20px;
    border: 1px solid green;
}
.left{
    height:240px;
}
.right{
    height:200px;   
}
.iphone-case{
    width: 300px;
    border: 1px solid#ffffff;
    height: 580px;
    position: relative;   
}
.frame-wrap{
    width: 260px;
    height: 540px;
    border: 5px solid #191919;
    padding: 10px; 
    /* box-shadow:  15px 15px 15px #3d3d3d, -10px -10px 15px #3d3d3d; */
    border-radius: 30px;
    /* -moz-box-shadow: 10px 10px 16px #3d3d3d;
    -webkit-box-shadow: 10px -10px 26px #3d3d3d;
    box-shadow: 10px 10px 20px #3d3d3d; */

    box-shadow:0px 0px 5px #191919, 0px 6px 4px 2px #191919, -6px -6px 10px #191919, 5px 8px 10px #191919;

}
.frame-holder{
    width: 230px;
    height: 520px;
    border: 1px solid #000000;
    padding: 10px;
    margin: auto;
    border-radius: 30px;
}
.screen-wrap{
    width: 230px;
    height: 520px;
    border: 5px solid #191919;
    padding: 10px;
    margin-top: -15px;
    margin-left: -15px;
    border-radius: 30px;
    /* box-shadow:0px 0px 5px #191919, 0px 6px 4px 2px #191919, -8px -8px 15px #191919, 5px -8px 10px #191919;  */
}
/* .screen{
    margin: auto;
    background: white;
    width: 300px;
    height: 560px;
     transform: translate(-50%, 9px); 
     border: 10px solid red;
    border-radius:30px;
}  */